<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">

</head>
<body>

<div class="container">

       <h1>Summary of your account!</h1>
        <li>First Name :<label>{{summaryVm.userSummaryInfo.firstname}}</label></li>
        <li>Last Name : <label>{{summaryVm.userSummaryInfo.lastname}}</label></li>
        <li>Email Id : <label>{{summaryVm.userSummaryInfo.email}}</label></li>
        <li>Account Type : <label>{{summaryVm.accounttype}}</label></li>

    <a href ="#exit"> <button class="btn btn-danger btn-lg" type="submit">Exit</button></a>

</div>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>