<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Wizard</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
<div class="container">
   <a href="#plus"> <button class="btn btn-danger btn-lg" type="submit">Opt out of premium account</button></a>
  <a href="#summary">  <button class="btn btn-success btn-lg" ng-click="premiumVm.setAccountType()"type="submit">Submit</button></a>
</div>

<script src="js/bootstrap.min.js"></script>
</body>
</html>