<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Wizard</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
<div class="container">
    <a href="#summary"> <button class="btn btn-success" type="submit">Summary</button></a>
<p>If you agree our <a href="#terms">terms and conditions</a>  please check the box below for becoming our valued "Plus Account" user</p>

    <div class="checkbox">
        <label>
            <a href="#plus"><input type="checkbox"></a>
            Yes,I want to opt for a Plus Account
        </label>
    </div>
</div>



<script src="js/bootstrap.min.js"></script>

</body>
</html>